{% extends "dashboard.html" %}

{% block profile %}

  <div class="panel-body">Username: {{username}}</div>
  
  {% for profinfo in profinfo %}
    <div class="panel-body">Name: {{profinfo['name']}}</div>
    <div class="panel-body">Email: {{profinfo['email']}}</div>
  {% endfor %}
  
  {% for userT in userT %}
    <div class="panel-body">User Type: {{userT[0]}}</div>
  {% endfor %}
  <div class="panel-footer"><a href="/editprofile">Edit Profile</a></div>
  
{% endblock %}

{% block content %}
  {% for userT in userT %}
    {% if userT[0] == 'Giver' %}
    <!-- giver -->
      <div class="row">
        <div class="col-md-12">
          <div class="well">  
            <h4>Your Availability</h4>
            <table style="width:100%">
              <tbody align="center">
                
                {% for breakfast in breakfast %}
                  <tr align="center"><td>Breakfast: {{breakfast['starttime']}} - {{breakfast['endtime']}}</td></tr>
                {% endfor %}
                
                {% for lunch in lunch %}
                  <tr align="center"><td>Lunch: {{lunch['starttime']}} - {{lunch['endtime']}}</td></tr>
                {% endfor %}
                
                {% for dinner in dinner %}
                  <tr align="center"><td>Dinner: {{dinner['starttime']}} - {{dinner['endtime']}}</td></tr>
                {% endfor %}
                
                <tr align="center"><td><a href="/editavailability">Edit Available</a> </td></tr>
              </tbody>
					  </table>
          </div>
        </div>    
      </div>
      
      <!-- Search Results -->
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <table>
              <tbody>
                <tr ng-repeat="res in found2" >
                  <td><a data-toggle="collapse" href="#collapse2" ng-click="request(res)" ng-bind="res.name"></a> is available for</td>
                  <td ng-bind="res.mealType"></td>
                  <td>from</td>
                  <td ng-bind="res.timeOne"></td>
                  <td>-</td>
                  <td ng-bind="res.timeTwo"></td>
                </tr>
              </tbody>
            </table>
          </div>
    
          <!-- Request collapse -->
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">Request Meal From: <b><p ng-bind="name"></p></b></div>
            <div class="panel-body"><b><a data-toggle="collapse" href="#collapse2" ng-click="sendReq()">Yes</a></b> or <a data-toggle="collapse" href="#collapse2">No</a></div>
            
          </div>
  
        </div>
      </div>
</div>

<div class="col-sm-2 well">
          <div class="thumbnail">
            <p><strong>Requests Received</strong></p>
            <table></table>
            <tr ng-repeat="r in requestReceived"> <!-- DISPLAY ALL -->
					       <!--<td><p ng-repeat="res in found2" ng-bind="res"></p></td>-->
					       <td ng-bind="r.name"></td>
					       <td ng-bind="r.email"></td>
					       <td ng-bind="r.mealType"></td>
					       <td ng-bind="r.starttime"></td>
					       <td ng-bind="r.endtime"></td>
            </table>
          </div>
      
          <div class="well">
          </div>
        </div>

{% elif userT[0] == 'Receiver' %}
<!-- taker -->

      <div class="row">
        
        <div class="col-md-12">
        <div class="well">  
<!-- Search bar for givers -->
            <h3>Search for Givers</h3>
            <table style="width:100%">
              <tbody align="center">
              <tr align="justify">
                <td><label>Available Givers: </label></td>
                <td></td>
					     </tr>
					       
					     <tr ng-repeat="giv in allGivers"> <!-- DISPLAY ALL -->
					       <!--<td><p ng-repeat="res in found2" ng-bind="res"></p></td>-->
					       <td ng-bind="giv.name"></td>
					       <td ng-bind="giv.mealType"></td>
					       <td ng-bind="giv.timeOne"></td>
					       <td ng-bind="giv.timeTwo"></td>
					       
					     </tr>
					     </tbody>
					</table>

            
          </div>
        </div>    
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <table>
              <tbody>
                <tr ng-repeat="res in found2" >
                  <td><a data-toggle="collapse" href="#collapse2" ng-click="request(res)" ng-bind="res.name"></a> is available for</td>
                  <td ng-bind="res.mealType"></td>
                  <td>from</td>
                  <td ng-bind="res.timeOne"></td>
                  <td>-</td>
                  <td ng-bind="res.timeTwo"></td>
                </tr>
              </tbody>
            </table>
          </div>
    
          <!-- Request collapse -->
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">Request Meal From: <b><p ng-bind="name"></p></b></div>
            <div class="panel-body"><b><a data-toggle="collapse" href="#collapse2" ng-click="sendReq()">Yes</a></b> or <a data-toggle="collapse" href="#collapse2">No</a></div>
            
          </div>
  
        </div>
      </div>

</div>

<div class="col-sm-2 well">
          <div class="thumbnail">
            <p><strong>Requests Sent</strong></p>
            <table>
            <tr ng-repeat="r in requestSent"> <!-- DISPLAY ALL -->
					       <!--<td><p ng-repeat="res in found2" ng-bind="res"></p></td>-->
					       <td ng-bind="r.name"></td>
					       <td ng-bind="r.email"></td>
					       <td ng-bind="r.mealType"></td>
					       <td ng-bind="r.starttime"></td>
					       <td ng-bind="r.endtime"></td>
					 </table>
          </div>
      
          <div class="well">
          </div>
        </div>
{% endif %}
{% endfor %}

{% endblock %}