{% extends "dashboard.html" %}

{% block content %}

{% if userT == "g" %}
<!-- giver -->
  <form method="POST" action="">
      <div class="row">
        
        <div class="col-md-12">
        <div class="well">  
            <h3>Available today?</h3>
            <table align="center">
					<tr><td>Breakfast</td><td><input type="text" id="firstname" name="firstname" /></td></tr>
					<tr><td>Lunch</td><td><input type="text" id="lastname" name="lastname" /></td></tr>
					<tr><td>Dinner</td><td><select name="hr"><option>1</option></select><select name="min"><option>2</option></select><select name="AmPm">3</select></td>
			
					<input type="number" id="year" name="year" min="1900" max="2016" step="1" value="2011" size="4"/></td></tr>
					
					
					<tr><td>Location (city)</td><td><input type="text" name="city" id="city"/> 
					
					<select name="state">
					<option>AL</option>
					<option>AK</option>
					<option>AZ</option>
					<option>AR</option>
					<option>CA</option>
					<option>CO</option>
					<option>CT</option>
					<option>DE</option>
					<option>DC</option>
					<option>FL</option>
					<option>GA</option>
					<option>HI</option>
					<option>ID</option>
					<option>IL</option>
					<option>IN</option>
					<option>IA</option>
					<option>KS</option>
					<option>KY</option>
					<option>LA</option>
					<option>ME</option>
					<option>MD</option>
					<option>MA</option>
					<option>MI</option>
					<option>MN</option>
					<option>MS</option>
					<option>MO</option>
					<option>MT</option>
					<option>NE</option>
					<option>NV</option>
					<option>NH</option>
					<option>NJ</option>
					<option>NM</option>
					<option>NY</option>
					<option>NC</option>
					<option>ND</option>
					<option>OH</option>
					<option>OK</option>
					<option>OR</option>
					<option>PA</option>
					<option>RI</option>
					<option>SC</option>
					<option>SD</option>
					<option>TN</option>
					<option>TX</option>
					<option>UT</option>
					<option>VT</option>
					<option>VA</option>
					<option>WA</option>
					<option>WV</option>
					<option>WI</option>
					<option>WY</option>
					</select></td></tr>
					
					
					<tr><td><input type="submit" value="Submit Availability" /></td><td><input type="submit" value="Not Available" /></td></tr>
					</table>
            <!--<input type="radio" name="available"/>Yes
            <input type="radio" name="available"/>No-->
            
          </div>
        </div>    
      </div>
  </form>
<!--  <div class="row">
    <div class="col-md-12">
      <div class="well">
       <h3>Availability for </h3>
      </div>
    </div>    
  </div>
  <div class="row">
    <div class="col-md-1">
      <p>Sun</p>
    </div>
    <div class="col-md-2">
      <p>Mon</p>
    </div>
    <div class="col-md-2">
      <p>Tue</p>
    </div>
    <div class="col-md-2">
      <p>Wed</p>
    </div>
    <div class="col-md-2">
      <p>Thu</p>
    </div>
    <div class="col-md-2">
      <p>Fri</p>
    </div>
    <div class="col-md-1">
      <p>Sat</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <p>1</p>
    </div>
    <div class="col-md-2">
      <p>2</p>
    </div>
    <div class="col-md-2">
      <p>3</p>
    </div>
    <div class="col-md-2">
      <p>4</p>
    </div>
    <div class="col-md-2">
      <p>5</p>
    </div>
    <div class="col-md-2">
      <p>6</p>
    </div>
    <div class="col-md-1">
      <p>7</p>
    </div>
  </div>
   <div class="row">
    <div class="col-md-1">
      <p>8</p>
    </div>
    <div class="col-md-2">
      <p>9</p>
    </div>
    <div class="col-md-2">
      <p>10</p>
    </div>
    <div class="col-md-2">
      <p>11</p>
    </div>
    <div class="col-md-2">
      <p>12</p>
    </div>
    <div class="col-md-2">
      <p>13</p>
    </div>
    <div class="col-md-1">
      <p>14</p>
    </div>
  </div>
   <div class="row">
    <div class="col-md-1">
      <p>15</p>
    </div>
    <div class="col-md-2">
      <p>16</p>
    </div>
    <div class="col-md-2">
      <p>17</p>
    </div>
    <div class="col-md-2">
      <p>18</p>
    </div>
    <div class="col-md-2">
      <p>19</p>
    </div>
    <div class="col-md-2">
      <p>20</p>
    </div>
    <div class="col-md-1">
      <p>21</p>
    </div>
  </div>
   <div class="row">
    <div class="col-md-1">
      <p>22</p>
    </div>
    <div class="col-md-2">
      <p>23</p>
    </div>
    <div class="col-md-2">
      <p>24</p>
    </div>
    <div class="col-md-2">
      <p>25</p>
    </div>
    <div class="col-md-2">
      <p>26</p>
    </div>
    <div class="col-md-2">
      <p>27</p>
    </div>
    <div class="col-md-1">
      <p>28</p>
    </div>
  </div>
   <div class="row">
    <div class="col-md-1">
      <p>29</p>
    </div>
    <div class="col-md-2">
      <p>30</p>
    </div>
    
  </div> -->
 
  <!--
  <div class="row">
    <div class="col-sm-3">
      <div class="well">
       <p>John</p>
       <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">
      </div>
    </div>
    <div class="col-sm-9">
      <div class="well">
        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="well">
       <p>Bo</p>
       <img src="bandmember.jpg" class="img-circle" height="55" width="55" alt="Avatar">
      </div>
    </div>
    <div class="col-sm-9">
      <div class="well">
        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="well">
       <p>Jane</p>
       <img src="bandmember.jpg" class="img-circle" height="55" width="55" alt="Avatar">
      </div>
    </div>
    <div class="col-sm-9">
      <div class="well">
        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="well">
       <p>Anja</p>
       <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">
      </div>
    </div>
    <div class="col-sm-9">
      <div class="well">
        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
      </div>
    </div>
  </div>-->
</div>

{% else %}
<!-- taker -->
{% endif %}

{% endblock %}